CONFIG_AHCI=y
CONFIG_ARCH_SUNXI=y
CONFIG_ARM=y
CONFIG_AXP_DLDO4_VOLT=2500
CONFIG_AXP_ELDO3_VOLT=1200
CONFIG_BT_HCIUART_BCM=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-r40-bananapi-m2-ultra"
CONFIG_DRAM_CLK=576
CONFIG_INPUT_UINPUT=m
CONFIG_IR_SUNXI=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_MACH_SUN8I_R40=y
CONFIG_MACPWR="PA17"
CONFIG_MEDIA_RC_SUPPORT=y
CONFIG_MMC0_CD_PIN="PH13"
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_NR_DRAM_BANKS=1
CONFIG_RC_DEVICES=y
CONFIG_RGMII=y
CONFIG_SCSI=y
CONFIG_SCSI_AHCI=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_SUN4I_CODEC=y
CONFIG_SND_SUN8I_CODEC_ANALOG=y
CONFIG_SOUND=y
CONFIG_SPL=y
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_SUN8I_EMAC=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y
CONFIG_USB1_VBUS_PIN="PH23"
CONFIG_USB2_VBUS_PIN="PH23"
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USE_PREBOOT=y
ONFIG_MEDIA_SUPPORT=y
